div(layout="column" layout-align="center center" flex ng-if="!isLoaded")
    md-progress-circular(class="md-accent" layout-align="center center" md-mode="indeterminate")
    div(class="regular marginTop10" ng-cloak="loadingText") {{loadingText}}
div(layout="column" style="padding:20px 40px;background: #F1F1F1;" flex ng-if="isLoaded")
    div(class="bold" layout="row" style="background-color: #ffffff; font-size: 14px; height: 100%;" flex)
        ng-form(name="inputForm" layout="column" flex)
            md-content(class="paddingTop25 paddingRight50 paddingBottom10 paddingLeft50" style="color: #636363;" flex)
                h2 Tambah Personil
                .marginTop20
                div(layout-align="center center" layout="column" flex)
                    div(class="marginBottom10" ng-hide="!updatePersonil.photo" ng-style="{'background':'url('+profileSrc+') center center','background-size':'cover'}" style="border-radius:50%; font-size: 150px; height: 150px; width: 150px;")
                    md-icon(ng-hide="updatePersonil.photo" class="avatar"   style="font-size: 150px; height: 150px; width: 150px;") account_circle
                    md-button(class="plainButton" style="margin: 0px;" ng-click="onUploadImageClicked(1)") Upload Photo
                    input(id="image1" type="file" accept="image/*" file-upload="uploadPhotoFile" style="display:none;" )
                div(class="marginTop30")
                div(class="marginRight20" layout flex)
                    div(layout="column" flex)
                        md-input-container(class="md-block" class="paddingRight40" layout flex)
                            label Email
                            input(ng-model="updatePersonil.email" name="email" type="email" required)
                div(class="marginTop20")
                div(class="marginRight20" layout flex layout-xs="column")
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Pangkat
                            input(ng-model="updatePersonil.pangkat" name="pangkat" type="text" required)
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Nama
                            input(ng-model="updatePersonil.name" name="name" type="text" required)
                div(class="marginTop20")
                div(class="marginRight20" layout flex)
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label NRP
                            input(ng-model="updatePersonil.nrp" name="nrp" type="text" required)
                div(class="marginTop20")
                span Tempat, Tanggal Lahir
                div(class="marginRight20" layout="row" layout-align="start start" flex  layout-xs="column")
                    div(layout="column" flex="40" style="margin-right:20px;")
                        md-input-container(class="md-block" layout flex)
                            label Kota
                            input(ng-model="updatePersonil.birthTown" name="birthTown" type="text" required)
                    div(class="marginRight20" layout="column" style="margin-top:10px;" flex)
                        .dropdown(style="width:150px;")
                            a(class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" href="#" ng-click="$event.preventDefault()")
                                div(class="input-group")
                                    input(type="text" id="date" name="date" class="form-control" data-ng-model="updatePersonil.dob" data-date-time-input="DD-MM-YYYY")
                                    span(class="input-group-addon")
                                        i(class="glyphicon glyphicon-calendar")
                            ul(class="dropdown-menu  dropdown-menu-left" role="menu" aria-labelledby="dLabel")
                                datetimepicker(data-ng-model="updatePersonil.dob" data-datetimepicker-config="{ dropdownSelector: '#dropdown', startView:'day', minView:'day', modelType:'Date' }")
                div(class="marginTop20")
                div(class="marginRight20" layout flex  layout-xs="column")
                    md-input-container(class="md-block" layout flex)
                        label Jenis Kelamin
                        md-select(ng-model="updatePersonil.gender" style="margin-top: 0px;" name="gender" required layout flex)
                            md-option(ng-repeat="gender in genders" value="{{gender}}") {{gender}}
                    md-input-container(class="md-block" layout flex)
                        label Agama
                        input(ng-model="updatePersonil.religion" name="religion" type="text" required)
                div(class="marginTop20")
                div(class="marginRight20" layout flex)
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Alamat
                            input(ng-model="updatePersonil.homeAddress" name="homeAddress" type="text" required)
                div(class="marginTop20")
                div(class="marginRight20" layout flex)
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Handphone
                            input(ng-model="updatePersonil.mobile" name="mobile" type="text" required)
                div(class="marginTop20")
                div(class="marginRight20" layout flex  layout-xs="column")
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Unit
                            input(ng-model="updatePersonil.unit" name="unit" type="text" required)
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Wilayah
                            input(ng-model="updatePersonil.wilayahPenugasan" name="wilayahPenugasan" type="text" ng-disabled="true")
                div(class="marginRight20" layout flex)
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Skep
                            input(ng-model="updatePersonil.skep" name="skep" type="text" ng-disabled="true")
                div(class="marginTop20")
                div(class="marginRight20" layout flex  layout-xs="column")
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Dikum
                            input(ng-model="updatePersonil.dikum" name="dikum" type="text")
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Dikjur
                            input(ng-model="updatePersonil.dikjur" name="dikjur" type="text")
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Dikbang
                            input(ng-model="updatePersonil.dikbang" name="dikbang" type="text")
                div(class="marginTop20")
                div(class="marginRight20" layout flex)
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Latfung
                            input(ng-model="updatePersonil.latfung" name="latfung" type="text")
                div(class="marginTop20")
                div(class="marginRight20" layout flex)
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Prestasi Dalam Tugas
                            input(ng-model="updatePersonil.prestasiDalamTugas" name="prestasiDalamTugas" type="text")
                div(class="marginTop20")
                div(class="marginRight20")
                    md-checkbox(ng-model="createUserLogin.value" class="plain" layout-align="center center"   ng-change="stateChanged()"  ) Buat Akun Login
                div(class="marginTop20")
                div(class="marginRight20" ng-if="createUserLogin.value" layout="column" flex)
                    div(layout flex  layout-xs="column")
                        div(layout="column" flex)
                            md-input-container(class="md-block" layout flex)
                                label Username
                                input(ng-model="updateUser.username" name="username" type="text" required)
                        div(layout="column" flex)
                            md-input-container(class="md-block" layout flex)
                                label Email
                                input(ng-model="updateUser.email" name="email" type="text" ng-readonly="true" required)
                    div(class="marginTop20")
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Role
                            md-select(ng-model="updateUser.role" style="margin-top: 3px;" name="role" required layout flex)
                                md-option(ng-repeat="role in roles" value="{{role}}") {{getRoleName(role)}}
                    div(class="marginTop20")
                    div(layout="column" flex)
                        md-input-container(class="md-block" layout flex)
                            label Password
                            input(ng-model="updateUser.password" name="password" type="password")
                        md-input-container(class="md-block" layout flex)
                            label Ulangi Password
                            input(ng-model="updateUser.repassword" name="repassword" type="password")
                div(layout="row" class="paddingTop10 paddingRight50 paddingBottom25" layout-align="end center"  layout-xs="column" layout-align-xs="center center")
                    md-button(class="plainButton" layout-align="center center" ng-click="back()" layout) Cancel
                    md-button(class="button" layout-align="center center"  ng-click="addPersonil()" layout) Save 