.padding20(layout="column" flex="noshrink")
    h2 Data Kegiatan Satlantas
    .marginTop40
    div(layout)
        md-button(class="plainButton" style="margin: 0px;" ng-click="goTo('kegiatan_add')") Tambah Kegiatan
    .marginTop30
    table(class="table table-bordered table-striped")
        thead
            tr
                th 
                    a(href="")
                        span No
                th 
                    a(href="" ng-click="sortType = 'personil.nrp'; sortReverse = !sortReverse;")
                        span NRP 
                        span(class="fa fa-caret-up" ng-show="sortType == 'personil.nrp' && sortReverse")
                        span(class="fa fa-caret-down" ng-show="sortType == 'personil.nrp' && !sortReverse")
                th 
                    a(href="" ng-click="sortType = 'personil.pangkat'; sortReverse = !sortReverse;")
                        span Pangkat
                        span(class="fa fa-caret-up" ng-show="sortType == 'personil.pangkat' && sortReverse")
                        span(class="fa fa-caret-down" ng-show="sortType == 'personil.pangkat' && !sortReverse")
                th 
                    a(href="" ng-click="sortType = 'personil.name'; sortReverse = !sortReverse;")
                        span Nama 
                        span(class="fa fa-caret-up" ng-show="sortType == 'personil.name' && sortReverse")
                        span(class="fa fa-caret-down" ng-show="sortType == 'personil.name' && !sortReverse")
                th 
                    a(href="" ng-click="sortType = 'personil.polsekPenugasan'; sortReverse = !sortReverse;")
                        span Polsek
                        span(class="fa fa-caret-up" ng-show="sortType == 'personil.polsekPenugasan' && sortReverse")
                        span(class="fa fa-caret-down" ng-show="sortType == 'personil.polsekPenugasan' && !sortReverse")
                th 
                    a(href="" ng-click="sortType = 'category.name'; sortReverse = !sortReverse;")
                        span Kegiatan
                        span(class="fa fa-caret-up" ng-show="sortType == 'category.name' && sortReverse")
                        span(class="fa fa-caret-down" ng-show="sortType == 'category.name' && !sortReverse")
                th 
                    a(href="" ng-click="sortType = 'startDate'; sortReverse = !sortReverse;")
                        span Tgl Kegiatan
                        span(class="fa fa-caret-up" ng-show="sortType == 'startDate' && sortReverse")
                        span(class="fa fa-caret-down" ng-show="sortType == 'startDate' && !sortReverse")
        tbody(ng-if="kegiatanData && kegiatanData.length > 0")
            tr(ng-repeat="x in kegiatanData | orderBy:sortType:sortReverse")
                td {{ $index + 1 }}
                td {{ x.personil.nrp }}
                td {{ x.personil.pangkat }}
                td {{ x.personil.name }}
                td {{ x.personil.polsekPenugasan }}
                td {{ x.category.name }}
                td {{ x.startDate | date:'dd-MM-yyyy':'UTC+8' }}
        tbody(ng-if="!kegiatanData || !kegiatanData.length")
            tr
                td(colspan="7") No Data