div(layout="column" style="padding:20px 40px;background: #F1F1F1;" flex)
    div(class="bold" layout="row" style="background-color: #ffffff; font-size: 14px; height: 100%;" flex)
        md-content(class="paddingTop25 paddingRight50 paddingBottom10 paddingLeft50" style="color: #636363;" flex)
            h3(ng-if="!photo.description") Tidak Ada Deskripsi
            h3(ng-if="photo.description") {{photo.description}}
            .marginTop20
            img(ng-src="{{photo.blobURL}}" style="margin-left:-40px;")
            .marginTop20
            md-button(class="marginTop20 button" layout-align="center center" layout ng-click="close()") Close