div(class="bold paddingTop15 paddingBottom15 paddingLeft20 paddingRight20"
    ng-if="showFooter()"
    ng-hide="toolbarHidden"
    layout="row"
    style="font-size:12px; min-height:42px; height:42px; line-height:12px; color:rgba(0,0,0,.54); border-top:1px solid rgba(0,0,0,.06);" )
    div Copyright &#169; 2017 Polamikat