extends layout_default

block stylesheets
    link(rel="stylesheet", href="/stylesheets/admin.css")
    link(rel="stylesheet", href="/stylesheets/side_nav.css")
    link(rel="stylesheet", href="/stylesheets/card.css")
    link(rel="stylesheet", href="/stylesheets/tpl_admin_clinic_add.css")

block menu
    div(ng-controller="adminSideNavController" layout="column")
        md-content
            div(class="logo") uCare
            div(class="marginTop10 marginRight20 marginBottom10 marginLeft20", layout="row", layout-align="start center" flex)
                img(class="avatar md-48" style="border-radius:50%;width: 48px; height: 48px;" ng-src="{{me.photo}}" ng-if="me.photo")
                md-icon(class="avatar md-48" style="width: 48px; height: 48px;" ng-if="!me.photo") account_circle
                div(class="marginLeft5" layout="column" flex)
                    div(layout-align="start center" ng-cloak="me.displayName") {{me.displayName}}
                    div(layout-align="start center" ng-cloak="clinic.name") {{clinic.name}}
            div(class="sideNavMenuItem bold" flex)
                div(style="padding: 10px 0px 10px 20px" layout="row" ng-click="logout()")
                    //- div star
                    div Logout
block content
    md-toolbar(class="mainToolbar")
        div(class="md-toolbar-tools")
            md-button(class="md-icon-button", aria-label="Settings", ng-click="toggleLeft()")
                md-icon menu
            div(layout="row", layout-align="start center")
                div(layout="row", ng-repeat="crumb in breadcrumb")
                    div(style="cursor: pointer;" ng-click="goTo(crumb.url)", class="crumb", ng-class="{ 'last' : $last }") {{crumb.name}}
                    div(ng-hide="$last", class="marginLeft10 marginRight10") >
            span(flex)
    div(class="regular", layout="column" flex, ng-view)
    //- div(class="bold margin20" layout="row" style="font-size: 12px")
    //-     div Copyright &#169; 2016 uCare
    //-     div(class="marginLeft25") Privacy
    //-     div(class="marginLeft25") Terms & Conditions
    //-     div(class="marginLeft25") Help
    include tpl/footer
block script
    script(src="/javascripts/admin_index.js")
    script(src="/javascripts/admin_factory.js")
    script(src="/javascripts/admin_api.js")
    script(src="/javascripts/constants.js")
    script(src="/javascripts/admin_factory.js")
    script(src="/javascripts/admin_side_nav.js")
    //- To be removed after uCare side done with listing
    script(src="/javascripts/ctrl_admin_clinic_list.js")
    script(src="/javascripts/ctrl_admin_clinic_add.js")
    script(src="/javascripts/ctrl_admin_clinic_update.js")
    script(src="/javascripts/ctrl_clinic_profile_base.js")
    script.
        var me = JSON.parse("!{me}");
