extends layout_default

block stylesheets
    link(rel="stylesheet", href="/stylesheets/side_nav.css")

block menu
    div(ng-controller="sideNavController" layout="column")
        md-content
            div(class="logo") Polamikat
            div(class="account marginTop30 marginRight20 marginBottom20 marginLeft20", layout="row", layout-align="start center" flex)
                div(class="avatar md-48" ng-if="me.photo" ng-style="{'background':'url('+me.photo+') center center','background-size':'cover'}" style="border-radius:50%; font-size: 48px; height: 48px; width: 48px;")
                md-icon(class="avatar md-48" style="width: 48px; height: 48px;" ng-if="!me.photo") account_circle
                div(class="marginLeft5" layout="column" flex)
                    div(layout-align="start center" ng-cloak="me.displayName") {{me.displayName}}
                    div(layout-align="start center" ng-if="me.isAdmin") Administrator
            div(class="sideNavMenuItem bold" flex)
                div(ng-class="selectedMenu == 'report' ? 'selected' : 'notSelected'" layout="row" layout-align="start center" ng-click="goTo('report')")
                    div Report
                    div(flex)
                div(ng-class="selectedMenu == 'data_personil_list' ? 'selected' : 'notSelected'" layout="row" layout-align="start center" ng-click="goTo('data_personil_list')")
                    div Data Personil Satlantas
                    div(flex)
                div(ng-class="selectedMenu == 'data_kegiatan_satlantas' ? 'selected' : 'notSelected'" layout="row" layout-align="start center" ng-click="goTo('data_kegiatan_satlantas')")
                    div Data Kegiatan Satlantas
                    div(flex)
                div(ng-class="selectedMenu == 'admin_kategori_kegiatan' ? 'selected' : 'notSelected'" layout="row" layout-align="start center" ng-click="goTo('admin_kategori_kegiatan')" ng-if="isAdmin")
                    div Edit Kategori Kegiatan Personil
                    div(flex)
                div(ng-class="selectedMenu == 'personil_user_data' ? 'selected' : 'notSelected'" layout="row" layout-align="center center" ng-click="goTo('personil_user_data')")
                    div Profil Saya
                    div(flex)
                div(class="notSelected" style="padding: 10px 0px 10px 20px" layout="row" ng-click="logout()")
                    //- div star
                    div Logout
block content
    md-toolbar(ng-hide="toolbarHidden")
        div(class="md-toolbar-tools")
            md-button(class="md-icon-button", aria-label="Settings", ng-click="toggleLeft()")
                md-icon menu
    div(layout="column" flex ng-view)
    //- include tpl/footer

block script
    script(src="/javascripts/index.js")
    script(src="/javascripts/api.js")
    script(src="/javascripts/constants.js")
    script(src="/javascripts/ctrl_side_nav.js")
    script(src="/javascripts/ctrl_admin_add_personil.js")
    script(src="/javascripts/ctrl_admin_data_personil.js")
    script(src="/javascripts/ctrl_admin_data_user.js")
    script(src="/javascripts/ctrl_admin_kategori_kegiatan.js")
    script(src="/javascripts/ctrl_admin_update_personil.js")
    script(src="/javascripts/ctrl_data_kegiatan_personil.js")
    script(src="/javascripts/ctrl_data_kegiatan_satlantas.js")
    script(src="/javascripts/ctrl_data_personil_list.js")
    script(src="/javascripts/ctrl_kegiatan_add.js")
    script(src="/javascripts/ctrl_kegiatan_detail.js")
    script(src="/javascripts/ctrl_kegiatan_update.js")
    script(src="/javascripts/ctrl_personil_user_data.js")
    script(src="/javascripts/ctrl_report.js")
    script.
        var me = JSON.parse(!{JSON.stringify(me)});
