.noMargin {  margin: 0px;  }

.padding60{  padding: 60px;  }
.padding55{  padding: 55px;  }
.padding50{  padding: 50px;  }
.padding45{  padding: 45px;  }
.padding40{  padding: 40px;  }
.padding35{  padding: 35px;  }
.padding30{  padding: 30px;  }
.padding25{  padding: 25px;  }
.padding20{  padding: 20px;  }
.padding15{  padding: 15px;  }
.padding10{  padding: 10px;  }
.padding5{  padding: 5px;  }

.paddingTop60{  padding-top: 60px;  }
.paddingTop55{  padding-top: 55px;  }
.paddingTop50{  padding-top: 50px;  }
.paddingTop45{  padding-top: 45px;  }
.paddingTop40{  padding-top: 40px;  }
.paddingTop35{  padding-top: 35px;  }
.paddingTop30{  padding-top: 30px;  }
.paddingTop25{  padding-top: 25px;  }
.paddingTop20{  padding-top: 20px;  }
.paddingTop15{  padding-top: 15px;  }
.paddingTop10{  padding-top: 10px;  }
.paddingTop5{  padding-top: 5px;  }
.paddingTop0{  padding-top: 0px;  }

.paddingRight60{  padding-right: 60px;  }
.paddingRight55{  padding-right: 55px;  }
.paddingRight50{  padding-right: 50px;  }
.paddingRight45{  padding-right: 45px;  }
.paddingRight40{  padding-right: 40px;  }
.paddingRight35{  padding-right: 35px;  }
.paddingRight30{  padding-right: 30px;  }
.paddingRight25{  padding-right: 25px;  }
.paddingRight20{  padding-right: 20px;  }
.paddingRight15{  padding-right: 15px;  }
.paddingRight10{  padding-right: 10px;  }
.paddingRight5{  padding-right: 5px;  }
.paddingRight0{  padding-right: 0px;  }

.paddingBottom60{  padding-bottom: 60px;  }
.paddingBottom55{  padding-bottom: 55px;  }
.paddingBottom50{  padding-bottom: 50px;  }
.paddingBottom45{  padding-bottom: 45px;  }
.paddingBottom40{  padding-bottom: 40px;  }
.paddingBottom35{  padding-bottom: 35px;  }
.paddingBottom30{  padding-bottom: 30px;  }
.paddingBottom25{  padding-bottom: 25px;  }
.paddingBottom20{  padding-bottom: 20px;  }
.paddingBottom15{  padding-bottom: 15px;  }
.paddingBottom10{  padding-bottom: 10px;  }
.paddingBottom5{  padding-bottom: 5px;  }
.paddingBottom0{  padding-bottom: 0px;  }

.paddingLeft60{  padding-left: 60px;  }
.paddingLeft55{  padding-left: 55px;  }
.paddingLeft50{  padding-left: 50px;  }
.paddingLeft45{  padding-left: 45px;  }
.paddingLeft40{  padding-left: 40px;  }
.paddingLeft35{  padding-left: 35px;  }
.paddingLeft30{  padding-left: 30px;  }
.paddingLeft25{  padding-left: 25px;  }
.paddingLeft20{  padding-left: 20px;  }
.paddingLeft15{  padding-left: 15px;  }
.paddingLeft10{  padding-left: 10px;  }
.paddingLeft5{  padding-left: 5px;  }
.paddingLeft0{  padding-left: 0px;  }

.margin60{  margin: 60px;  }
.margin55{  margin: 55px;  }
.margin50{  margin: 50px;  }
.margin45{  margin: 45px;  }
.margin40{  margin: 40px;  }
.margin35{  margin: 35px;  }
.margin30{  margin: 30px;  }
.margin25{  margin: 25px;  }
.margin20{  margin: 20px;  }
.margin15{  margin: 15px;  }
.margin10{  margin: 10px;  }
.margin5{  margin: 5px;  }
.margin0{  margin: 0px;  }

.marginTop60{  margin-top: 60px;  }
.marginTop55{  margin-top: 55px;  }
.marginTop50{  margin-top: 50px;  }
.marginTop45{  margin-top: 45px;  }
.marginTop40{  margin-top: 40px;  }
.marginTop35{  margin-top: 35px;  }
.marginTop30{  margin-top: 30px;  }
.marginTop25{  margin-top: 25px;  }
.marginTop20{  margin-top: 20px;  }
.marginTop15{  margin-top: 15px;  }
.marginTop10{  margin-top: 10px;  }
.marginTop5{  margin-top: 5px;  }
.marginTop0{  margin-top: 0px;  }

.marginRight60{  margin-right: 55px;  }
.marginRight55{  margin-right: 60px;  }
.marginRight50{  margin-right: 50px;  }
.marginRight45{  margin-right: 45px;  }
.marginRight40{  margin-right: 40px;  }
.marginRight35{  margin-right: 35px;  }
.marginRight30{  margin-right: 30px;  }
.marginRight25{  margin-right: 25px;  }
.marginRight20{  margin-right: 20px;  }
.marginRight15{  margin-right: 15px;  }
.marginRight10{  margin-right: 10px;  }
.marginRight5{  margin-right: 5px;  }
.marginRight0{  margin-right: 0px;  }

.marginBottom60{  margin-bottom: 60px;  }
.marginBottom55{  margin-bottom: 55px;  }
.marginBottom50{  margin-bottom: 50px;  }
.marginBottom45{  margin-bottom: 45px;  }
.marginBottom40{  margin-bottom: 40px;  }
.marginBottom35{  margin-bottom: 35px;  }
.marginBottom30{  margin-bottom: 30px;  }
.marginBottom25{  margin-bottom: 25px;  }
.marginBottom20{  margin-bottom: 20px;  }
.marginBottom15{  margin-bottom: 15px;  }
.marginBottom10{  margin-bottom: 10px;  }
.marginBottom5{  margin-bottom: 5px;  }
.marginBottom0{  margin-bottom: 0px;  }

.marginLeft60{  margin-left: 60px;  }
.marginLeft55{  margin-left: 55px;  }
.marginLeft50{  margin-left: 50px;  }
.marginLeft45{  margin-left: 45px;  }
.marginLeft40{  margin-left: 40px;  }
.marginLeft35{  margin-left: 35px;  }
.marginLeft30{  margin-left: 30px;  }
.marginLeft25{  margin-left: 25px;  }
.marginLeft20{  margin-left: 20px;  }
.marginLeft15{  margin-left: 15px;  }
.marginLeft10{  margin-left: 10px;  }
.marginLeft5{  margin-left: 5px;  }
.marginLeft0{  margin-left: 0px;  }