md-sidenav {
    width: 300px;
}

#sideNav {
    min-width: 250px;
    border-right: solid 1.5px #D9DADB;
}

#sideNavTitle {
    padding: 0px 20px 0px 20px;
    font-size: 18px;
}

.sideNavProfile{   font-size: 12px;   }
/*.sideNavMenuItem{   font-size: 16px;   }*/

.sideNavMenuItem > .layout-row {
    padding: 12px 0px 12px 20px;
    color: #555555;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
}

.sideNavMenuItem > .layout-row.selected {
    background-color: #0ACCC8;
    color: white;
}

.sideNavMenuItem > .layout-row.sideNavSubMenu {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 48px;
}

.sideNavMenuItem > .layout-row.sideNavSubMenu.sideNavSubMenuSelected {
    color: #0ACCC8;
}

.sideNavMenuItem > .layout-row:not(.sideNavSubMenu) { /* main menu item */
    border-top: 1px solid rgba(0,0,0,.06);
}

.sideNavSubMenu-last {
    margin-bottom: 20px;
}

.md-sidenav-items {
    height: 24px;
    width: 24px;
    margin-right: 4px;
}

.sideNavMenuItem .countBox {
    margin-right: 24px;
}
.sideNavMenuItem .selected .countBox {
    background-color: rgba(0,0,0,.54);
}

.triangleExpand {
    width: 0;
    height: 0;
    margin-right: 20px;
    margin-left: 20px;
    border-left: 6px solid transparent;
    border-top: 10px solid white;
    border-right: 6px solid transparent;
}

.triangleCollapse {
	width: 0;
	height: 0;
    margin-right: 20px;
    margin-left: 20px;
	border-top: 6px solid transparent;
	border-left: 10px solid #757575;
	border-bottom: 6px solid transparent;
}

.triangleLeft {
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: 10px solid #F0F1F2;
	border-bottom: 6px solid transparent;
}

.sideNaveSubMenuTriangleNotSelected {
  margin-left: 24px;
  margin-right: 5px;
	width: 0;
	height: 0;
	/*border-top: 5px solid transparent;
	border-left: 5px solid #D3D3D3;
	border-bottom: 5px solid transparent;*/
}

.sideNaveSubMenuTriangleSelected {
  margin-left: 24px;
  margin-right: 5px;
	width: 0;
	height: 0;
	/*border-top: 5px solid transparent;
	border-left: 5px solid #0ACCC8;
	border-bottom: 5px solid transparent;*/
}


.account {
    color: #555555;;
}

.patientName {
    padding: 10px 0px 10px 20px;
    color: #555555;
    font-size: 14px;
}
